.column.is-half
  %article.media.box
    %figure.media-left
      %p.image.is-64x64
        %img{src: "https://bulma.io/images/placeholders/64x64.png"}
    .media-content
      .title.is-5&= "@#{current_user.username if current_user}"
      = render 'peeps/form'
  - @peeps.each do |peep|
    .box
      %article.media
        .media-left
          %figure.image.is-64x64
            %img{src: "https://bulma.io/images/placeholders/64x64.png"}
        .media-content
          .content
            %strong
              = peep.user.name
            %small
              = peep.user.username
            %p
              = peep.chirp
          - if user_signed_in?
            %nav.level
              .level-left.is-mobile
                = link_to peep, class: "level-item" do
                  %span.icon
                    %i.fa.fa-link
                = link_to edit_peep_path(peep), class: "level-item" do
                  %span.icon
                    %i.fa.fa-pencil
                = link_to peep, method: :delete, data: { confirm: "Delete this peep?" } do
                  %span.icon
                    %i.fa.fa-trash-o
