<%= form_with(model: peep) do |form| %>
  <% if peep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(peep.errors.count, "error") %> prohibited this peep from being saved:</h2>

      <ul>
        <% peep.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :chirp %>
    <%= form.text_area :chirp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
