%p#notice= notice
%h1 Peeps
%table
  %thead
    %tr
      %th Chirp
      %th{:colspan => "3"}
  %tbody
    - @peeps.each do |peep|
      %tr
        %td= peep.chirp
        %td= link_to 'Show', peep
        %td= link_to 'Edit', edit_peep_path(peep)
        %td= link_to 'Destroy', peep, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Peep', new_peep_path
