%section.section
  .container
    .columns
      - if user_signed_in?
        = render 'profile'
      - else
        = render 'trends'
      = render 'feed'
      = render 'who-to-follow'
    .columns
      .column.is-one-quarter
      .column.is-one-quarter
        = render 'devise/shared/links'
      .column.is-one-quarter
      .column.is-one-quarter
